.GraphMain {
    width: 87.1%;
    height: 96vh;
    margin-top: -53.77%;
    margin-left: 12.95%; 
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.text {
    position: relative;
    margin: auto;
    width: 50%;
    max-width: 570px;
}