.UserAddingAccount {
    width: 87.1%;
    height: 900px;
    margin-top: -47.35%;
    margin-left: 12.95%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.Signup {
    background-color: grey;
    position: relative;
    margin: auto;
    max-width: 89%;
    top: 6%;
    height: 75vh;
    border-radius: 10px;
}

.fa-addacnt {
    margin-right: 1%;
}

.addacnt-title {
    margin-left: 2%;
}

.inputs-adacnt {
    width: 80%;
    border: none;
    outline: none;
    border-radius: 5px;
    height: 4vh;
    font-size: 16px;
    padding-top: 2px;
    padding-left: 4px;
}

.part1 {
    max-width: 28%;
    position: relative;
    margin-top: 5%;
    margin-left: 11%;
}

.part1 label {
    font-size: 19px;
}

.part2 label {
    font-size: 19px;
}


.part2 {
    max-width: 28%;
    margin-left: 55%;
    margin-top: -31.4%;
    height: 39.4vh;
}

.part1 input{
    display: block;
}

.part2 input {
    display: block;
}

.btn-signup {
    font-size: 18px;
    letter-spacing: 2px;
    margin-top: 6.2%;
    margin-left: 39%;
    border: none;
    background-color: rgb(17, 17, 17);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 40px;
}

.btn-signup:hover {
    background-color: rgb(185, 185, 56);
}

.alerts {
    margin-left: 28%;
    margin-top: 6%;
    position: absolute;
    z-index: 1;
    width: 20%;
}