@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.UserAddingAccount {
    width: 87.1%;
    height: 900px;
    margin-top: -47.35%;
    margin-left: 12.95%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.Signup {
    background-color: rgb(128, 128, 128, 0.5);
    position: relative;
    margin: auto;
    max-width: 92%;
    top: 1%;
    height: 71vh;
    border-radius: 10px;
}

.fa-addacnt {
    margin-right: 1%;
}

.addacnt-title {
    margin-left: 2%;
}

.inputs-adacnt {
    width: 80%;
    border: none;
    outline: none;
    border-radius: 5px;
    height: 4vh;
    font-size: 16px;
    padding-top: 2px;
    padding-left: 4px;
}

.part1 {
    max-width: 28%;
    position: relative;
    margin-top: 5%;
    margin-left: 11%;
}

.part1 label {
    font-size: 19px;
}

.part2 label {
    font-size: 19px;
}


.part2 {
    max-width: 28%;
    margin-left: 63%;
    margin-top: -25.4%;
    height: 39.4vh;
}

.part1 input{
    display: block;
}

.part2 input {
    display: block;
}

.btn-signup {
    font-size: 18px;
    letter-spacing: 2px;
    margin-top: 3.2%;
    margin-left: 43%;
    border: none;
    background-color: rgb(17, 17, 17);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 40px;
}

.btn-signup:hover {
    background-color: rgb(185, 185, 56);
}

.alerts {
    margin-left: 28%;
    margin-top: 6%;
    position: absolute;
    z-index: 1;
    width: 20%;
}

.toKnow {
    position: absolute;
    color: black;
    margin: 11% 31%;
    width: 21.5%;
    max-width: 500px;
    background-color: rgba(128, 128, 128, 0.3);
    border-radius: 8px;
}

.toknow-list-ul {
    padding-left: 2%;
    list-style-type: none;
    line-height: 3.4vh;
    font-size: 17px;
}

.toknow-list-ul li {
    font-family: 'Poppins', sans-serif;
}
