/*  Boxes CSS  */
.HD-Boxes {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

.box1 {
    margin-top: -44%;
    border: 2px black solid;
    width: 28%;
    height: 320px;
    margin-left: 16%;
    border-radius: 10px;
}

.box1 > table , tr{
    border-radius: 8px;
}

.box1-table {
    margin: auto;
    margin-top: 2%;
    width: 90%;
}

.box2 {
    margin-top: -44%;
    border: 2px black solid;
    width: 28%;
    height: 320px;
    margin-left: 16%;
    border-radius: 10px;
}

.box3 {
    margin-top: -21%;
    border: 2px black solid;
    width: 28%;
    height: 320px;
    margin-left: 16%;
    border-radius: 10px;
}

.box4 {
    margin-top: -21%;
    border: 2px black solid;
    width: 28%;
    height: 320px;
    margin-left: 16%;
    border-radius: 10px;
}


.calendar {
    max-width: 100%;
    top: 1%;
    position: relative;
    height: 30vh;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}


.display-notif {
    position: relative;
    margin: auto;
    max-width: 80%;
    height: 27vh;
    border-radius: 8px;
    max-height: 257px;
    overflow-y: auto;
}

.notif {
    border: 2px black solid;
    position: relative;
    top: 5%;
    font-size: 14px;
    border-radius: 8px;
    margin-bottom: 1%;
    padding-bottom: 1%;
}

.faNotif {
    font-size: 20px;
    padding-left: 1%;
}

.faNotif:hover {
    color: green;
    cursor: pointer;
}

.faNotif2 {
    position: absolute;
    left: 0%;
    font-size: 20px;
    padding-left: 1%;
}

.notfi_from_usr {
    background-color: rgba(128, 128, 128, 0.493);
    display: inline;
}

.notif_sbjct {
    display: inline;
}

.notif_msg {
    padding-left: 2%;
    /* margin: auto; */
    margin-top: 1%;
    margin-left: 7.9%;
    max-width: 85%;
    background-color: rgba(128, 128, 128, 0.493);
    color: black;
    font-size: 14px;
}

.empty-box {
    position: absolute;
    top: 27%;
    left: 20%;
    width: 60%;
    max-width: 257px;
}

.empty-box p {
    display: inline;
    text-align: center;
    opacity: 0.5;
    font-size: 30px;
}

.fa-empty-box {
    font-size: 30px;
    padding-right: 3%;
    opacity: 0.5;
}