@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
}

input, select, option {
    outline: none;
}