@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
}

input, select, option {
    outline: none;
}

.buttons-dialog-app {
    position: relative;
    top: 1%;
    background-color: grey;
    border-radius: 5px;
}

.buttons-dialog-app button {
    padding: 2px 14px;
    font-size: 17px;
    outline: none;
}